In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
import sys

sys.path.append("..")
from mc_lib.utils import size_and_ratio
sys.path.remove("..")
print(sys.path)

['/Users/mckim/anaconda3/envs/py36/lib/python36.zip', '/Users/mckim/anaconda3/envs/py36/lib/python3.6', '/Users/mckim/anaconda3/envs/py36/lib/python3.6/lib-dynload', '', '/Users/mckim/anaconda3/envs/py36/lib/python3.6/site-packages', '/Users/mckim/anaconda3/envs/py36/lib/python3.6/site-packages/IPython/extensions', '/Users/mckim/.ipython']

In [3]:
def get_month_df(year, month, base_folder='../v2/data'):
    """Get md_data as pandas.DataFrame from v2 csv file"""
    filename = 'md_data_{:04d}_{:02d}.csv'.format(year, month)
    filepath = os.path.join('../v2/data/', filename)
    
    df = pd.read_csv(filepath, dtype=str)
    print("{} file loaded. shape:{}".format(filepath, df.shape))
    return df
        
# Sample code
# df1 = get_month_df(2016, 9)
# df2 = get_month_df(2019, 2)
# df3 = get_month_df(2015, 9)
# df4 = get_month_df(2018, 10)
# df = pd.concat([df1, df2, df3, df4], axis=0)

In [4]:


dfs = []
for year in range(2015, 2022):
    for month in range(1, 13):    
        try:
            df_tmp = get_month_df(year, month)
            print(year, month, df_tmp.shape)
            dfs.append(df_tmp)
        except Exception as e:
            print("{} : {}.{} data not loaded".format(e, year, month))
            continue

[Errno 2] File ../v2/data/md_data_2015_01.csv does not exist: '../v2/data/md_data_2015_01.csv' : 2015.1 data not loaded
[Errno 2] File ../v2/data/md_data_2015_02.csv does not exist: '../v2/data/md_data_2015_02.csv' : 2015.2 data not loaded
[Errno 2] File ../v2/data/md_data_2015_03.csv does not exist: '../v2/data/md_data_2015_03.csv' : 2015.3 data not loaded
[Errno 2] File ../v2/data/md_data_2015_04.csv does not exist: '../v2/data/md_data_2015_04.csv' : 2015.4 data not loaded
[Errno 2] File ../v2/data/md_data_2015_05.csv does not exist: '../v2/data/md_data_2015_05.csv' : 2015.5 data not loaded
[Errno 2] File ../v2/data/md_data_2015_06.csv does not exist: '../v2/data/md_data_2015_06.csv' : 2015.6 data not loaded
../v2/data/md_data_2015_07.csv file loaded. shape:(137, 19)
2015 7 (137, 19)
../v2/data/md_data_2015_08.csv file loaded. shape:(422, 19)
2015 8 (422, 19)
../v2/data/md_data_2015_09.csv file loaded. shape:(786, 19)
2015 9 (786, 19)
../v2/data/md_data_2015_10.csv file loaded. shape:(1303, 19)
2015 10 (1303, 19)
../v2/data/md_data_2015_11.csv file loaded. shape:(2202, 19)
2015 11 (2202, 19)
../v2/data/md_data_2015_12.csv file loaded. shape:(4839, 19)
2015 12 (4839, 19)
../v2/data/md_data_2016_01.csv file loaded. shape:(5042, 19)
2016 1 (5042, 19)
../v2/data/md_data_2016_02.csv file loaded. shape:(8710, 19)
2016 2 (8710, 19)
../v2/data/md_data_2016_03.csv file loaded. shape:(15004, 19)
2016 3 (15004, 19)
../v2/data/md_data_2016_04.csv file loaded. shape:(43229, 19)
2016 4 (43229, 19)
../v2/data/md_data_2016_05.csv file loaded. shape:(70428, 19)
2016 5 (70428, 19)
../v2/data/md_data_2016_06.csv file loaded. shape:(98500, 19)
2016 6 (98500, 19)
../v2/data/md_data_2016_07.csv file loaded. shape:(398329, 19)
2016 7 (398329, 19)
../v2/data/md_data_2016_08.csv file loaded. shape:(408388, 19)
2016 8 (408388, 19)
../v2/data/md_data_2016_09.csv file loaded. shape:(382435, 19)
2016 9 (382435, 19)
../v2/data/md_data_2016_10.csv file loaded. shape:(413712, 19)
2016 10 (413712, 19)
../v2/data/md_data_2016_11.csv file loaded. shape:(506888, 19)
2016 11 (506888, 19)
../v2/data/md_data_2016_12.csv file loaded. shape:(750299, 19)
2016 12 (750299, 19)
../v2/data/md_data_2017_01.csv file loaded. shape:(506659, 19)
2017 1 (506659, 19)
../v2/data/md_data_2017_02.csv file loaded. shape:(440268, 19)
2017 2 (440268, 19)
../v2/data/md_data_2017_03.csv file loaded. shape:(621390, 19)
2017 3 (621390, 19)
../v2/data/md_data_2017_04.csv file loaded. shape:(829518, 19)
2017 4 (829518, 19)
../v2/data/md_data_2017_05.csv file loaded. shape:(957498, 19)
2017 5 (957498, 19)
../v2/data/md_data_2017_06.csv file loaded. shape:(769716, 19)
2017 6 (769716, 19)
../v2/data/md_data_2017_07.csv file loaded. shape:(624145, 17)
2017 7 (624145, 17)
../v2/data/md_data_2017_08.csv file loaded. shape:(485484, 17)
2017 8 (485484, 17)
../v2/data/md_data_2017_09.csv file loaded. shape:(473438, 17)
2017 9 (473438, 17)
../v2/data/md_data_2017_10.csv file loaded. shape:(507636, 17)
2017 10 (507636, 17)
../v2/data/md_data_2017_11.csv file loaded. shape:(684400, 17)
2017 11 (684400, 17)
../v2/data/md_data_2017_12.csv file loaded. shape:(1187544, 17)
2017 12 (1187544, 17)
../v2/data/md_data_2018_01.csv file loaded. shape:(1269957, 17)
2018 1 (1269957, 17)
../v2/data/md_data_2018_02.csv file loaded. shape:(771640, 17)
2018 2 (771640, 17)
../v2/data/md_data_2018_03.csv file loaded. shape:(807773, 17)
2018 3 (807773, 17)
../v2/data/md_data_2018_04.csv file loaded. shape:(1229000, 17)
2018 4 (1229000, 17)
../v2/data/md_data_2018_05.csv file loaded. shape:(1596830, 17)
2018 5 (1596830, 17)
../v2/data/md_data_2018_06.csv file loaded. shape:(1534448, 17)
2018 6 (1534448, 17)
../v2/data/md_data_2018_07.csv file loaded. shape:(1746564, 17)
2018 7 (1746564, 17)
../v2/data/md_data_2018_08.csv file loaded. shape:(1431115, 17)
2018 8 (1431115, 17)
../v2/data/md_data_2018_09.csv file loaded. shape:(1464542, 17)
2018 9 (1464542, 17)
../v2/data/md_data_2018_10.csv file loaded. shape:(1408273, 17)
2018 10 (1408273, 17)
../v2/data/md_data_2018_11.csv file loaded. shape:(2065062, 17)
2018 11 (2065062, 17)
../v2/data/md_data_2018_12.csv file loaded. shape:(3093161, 17)
2018 12 (3093161, 17)
../v2/data/md_data_2019_01.csv file loaded. shape:(1067152, 25)
2019 1 (1067152, 25)
../v2/data/md_data_2019_02.csv file loaded. shape:(786097, 25)
2019 2 (786097, 25)
../v2/data/md_data_2019_03.csv file loaded. shape:(1189297, 25)
2019 3 (1189297, 25)
../v2/data/md_data_2019_04.csv file loaded. shape:(2047629, 25)
2019 4 (2047629, 25)
../v2/data/md_data_2019_05.csv file loaded. shape:(2067085, 25)
2019 5 (2067085, 25)
../v2/data/md_data_2019_06.csv file loaded. shape:(1934446, 24)
2019 6 (1934446, 24)
../v2/data/md_data_2019_07.csv file loaded. shape:(2055513, 24)
2019 7 (2055513, 24)
../v2/data/md_data_2019_08.csv file loaded. shape:(1686712, 24)
2019 8 (1686712, 24)
../v2/data/md_data_2019_09.csv file loaded. shape:(1733030, 24)
2019 9 (1733030, 24)
../v2/data/md_data_2019_10.csv file loaded. shape:(1752700, 24)
2019 10 (1752700, 24)
../v2/data/md_data_2019_11.csv file loaded. shape:(1863694, 24)
2019 11 (1863694, 24)
../v2/data/md_data_2019_12.csv file loaded. shape:(2528864, 24)
2019 12 (2528864, 24)
../v2/data/md_data_2020_01.csv file loaded. shape:(2108464, 24)
2020 1 (2108464, 24)
../v2/data/md_data_2020_02.csv file loaded. shape:(1068511, 24)
2020 2 (1068511, 24)
../v2/data/md_data_2020_03.csv file loaded. shape:(702784, 24)
2020 3 (702784, 24)
../v2/data/md_data_2020_04.csv file loaded. shape:(670961, 24)
2020 4 (670961, 24)
../v2/data/md_data_2020_05.csv file loaded. shape:(896269, 24)
2020 5 (896269, 24)
../v2/data/md_data_2020_06.csv file loaded. shape:(907479, 24)
2020 6 (907479, 24)
../v2/data/md_data_2020_07.csv file loaded. shape:(950947, 24)
2020 7 (950947, 24)
../v2/data/md_data_2020_08.csv file loaded. shape:(870863, 24)
2020 8 (870863, 24)
../v2/data/md_data_2020_09.csv file loaded. shape:(775685, 24)
2020 9 (775685, 24)
../v2/data/md_data_2020_10.csv file loaded. shape:(1014498, 24)
2020 10 (1014498, 24)
../v2/data/md_data_2020_11.csv file loaded. shape:(963495, 24)
2020 11 (963495, 24)
../v2/data/md_data_2020_12.csv file loaded. shape:(844764, 24)
2020 12 (844764, 24)
../v2/data/md_data_2021_01.csv file loaded. shape:(717116, 24)
2021 1 (717116, 24)
../v2/data/md_data_2021_02.csv file loaded. shape:(695677, 24)
2021 2 (695677, 24)
../v2/data/md_data_2021_03.csv file loaded. shape:(1119991, 24)
2021 3 (1119991, 24)
../v2/data/md_data_2021_04.csv file loaded. shape:(1120025, 24)
2021 4 (1120025, 24)
../v2/data/md_data_2021_05.csv file loaded. shape:(1207600, 24)
2021 5 (1207600, 24)
[Errno 2] File ../v2/data/md_data_2021_06.csv does not exist: '../v2/data/md_data_2021_06.csv' : 2021.6 data not loaded
[Errno 2] File ../v2/data/md_data_2021_07.csv does not exist: '../v2/data/md_data_2021_07.csv' : 2021.7 data not loaded
[Errno 2] File ../v2/data/md_data_2021_08.csv does not exist: '../v2/data/md_data_2021_08.csv' : 2021.8 data not loaded
[Errno 2] File ../v2/data/md_data_2021_09.csv does not exist: '../v2/data/md_data_2021_09.csv' : 2021.9 data not loaded
[Errno 2] File ../v2/data/md_data_2021_10.csv does not exist: '../v2/data/md_data_2021_10.csv' : 2021.10 data not loaded
[Errno 2] File ../v2/data/md_data_2021_11.csv does not exist: '../v2/data/md_data_2021_11.csv' : 2021.11 data not loaded
[Errno 2] File ../v2/data/md_data_2021_12.csv does not exist: '../v2/data/md_data_2021_12.csv' : 2021.12 data not loaded

In [5]:
df_tmp = get_month_df(2015, 10)
df_tmp.shape

../v2/data/md_data_2015_10.csv file loaded. shape:(1303, 19)

(1303, 19)

In [6]:
df_tmp['data_1'].unique()

array(['39.2', '38.2', '0', '1', '5', '36.9', '37.2', '37.7', '37.6',
       '36.8', '37.3', '37.1', '37.4', '36.6', '39.0', '38.6', '37.8',
       '38.3', '36.3', '38.0', '37.5', '36.5', '36.7', '39.4', '37.0',
       '38.1', '38.4', '39.1', '39.5', '38.8', '37.9', '38.9', '38.5',
       '39.7', '40.1', '36.4', '35.9', '38.7', '36.0', '39.3', '39.6',
       '36.1', '35.5', '35.8', '39.8', '36.2', '35.6', '35.7', '34.0',
       '34.9', '35.3', '39.9'], dtype=object)

In [7]:
df_tmp.columns

Index(['_id', 'baby_id', 'date', 'type', 'data_1', 'data_2', 'data_3',
       'data_4', 'data_5', 'data_6', 'data_7', 'data_8', 'memo', 'is_test',
       'is_delete', 'weight', 'gender', 'birthday', 'convulsion'],
      dtype='object')

In [8]:
df_tmp.head()

,_id,baby_id,date,type,data_1,data_2,data_3,data_4,data_5,data_6,data_7,data_8,memo,is_test,is_delete,weight,gender,birthday,convulsion
0,old_901635,5f01c78171e70019_1,2015-10-05 10:30:00,1.0,39.2,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,old_2479183,ff73c09851ddf597_1,2015-10-15 13:36:00,1.0,38.2,C,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.0,1.0,2015-10-15,NaN
2,old_4645307,a2475c76af3e9a5e_1,2015-10-04 18:16:00,2.0,0,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.0,1.0,2015-10-04,NaN
3,old_4713703,4EC34F44-61C1-4944-9B9E-E6C9060D02C8_1,2015-10-01 01:00:00,2.0,0,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.6,1.0,2015-10-01,NaN
4,old_4725561,57b08f88941a93b8_1,2015-10-04 19:20:00,2.0,0,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.4,0.0,2015-10-04,NaN

In [9]:
df_raw = pd.concat(dfs, axis=0)
df_raw.shape

(66964062, 25)

In [10]:
df_raw.head()

,_id,baby_id,date,type,data_1,data_2,data_3,data_4,data_5,data_6,...,weight,gender,birthday,convulsion,Unnamed: 0,app_code,group_id,lat,lng,last_update_de
0,old_8836,3e33d8f4493e5b0c_1,2015-07-19 13:19:00,4.0,3,23.0,NaN,NaN,NaN,NaN,...,18.0,0.0,2015-07-19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,old_13438,581f561db2b59b0_1,2015-07-16 00:13:00,4.0,3,6.0,NaN,NaN,NaN,NaN,...,14.0,0.0,2015-07-16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,old_153053,94c092a60db5eac6_1,2015-07-15 19:04:00,1.0,39.5,C,NaN,NaN,NaN,NaN,...,27.0,0.0,2015-07-15,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,old_254506,bd1224d9b8b2027c_5,2015-07-26 12:26:00,1.0,39.9,C,NaN,NaN,NaN,NaN,...,12.0,0.0,2015-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,old_254509,bd1224d9b8b2027c_5,2015-07-26 12:28:00,1.0,39.9,C,NaN,NaN,NaN,NaN,...,12.0,0.0,2015-07-26,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Check columns

In [11]:
df_raw.columns

Index(['_id', 'baby_id', 'date', 'type', 'data_1', 'data_2', 'data_3',
       'data_4', 'data_5', 'data_6', 'data_7', 'data_8', 'memo', 'is_test',
       'is_delete', 'weight', 'gender', 'birthday', 'convulsion', 'Unnamed: 0',
       'app_code', 'group_id', 'lat', 'lng', 'last_update_de'],
      dtype='object')

# Remove test and deleted data

In [12]:
print("Before:", df_raw.shape)
df = df_raw
df = df[df['is_test'] == '0']
df = df[df['is_delete'] == '0']
print("After:", df.shape)

Before: (66964062, 25)
After: (59307583, 25)

# Filter out null values

In [13]:
df = df[df['birthday'].notnull()]
print("After:", df.shape)

After: (59280058, 25)

# Basic statistics

In [14]:
size_and_ratio(df, 'type')

Sum : 59280058 (7,)

          size     ratio
type
1     35026397  0.590863
2     11085410  0.187001
3      9219335  0.155522
7      2221956  0.037482
4      1486495  0.025076
101     226009  0.003813
102      14456  0.000244

In [15]:
df_dx = df[(df['type'] == '4') & (df['data_1'] == '3')]
df_dx.shape

(264571, 25)

In [16]:
babies_dx = df_dx['baby_id'].unique().tolist()
print(len(babies_dx))
df_with_diagnosis = df[df['baby_id'].isin(babies_dx)]
print(df_with_diagnosis.shape)

149234
(23410751, 25)

In [17]:
df_with_diagnosis.to_csv("../v2/data/md_data__with_baby_having_dx.csv", index=False)

## Sample small

In [18]:
import random
random.seed(1212)
babies = df['baby_id'].unique().tolist()
babyies_sampled = random.sample(list(babies), len(babies) // 100)
len(babyies_sampled)

8984

In [19]:
df_sampled = df[df['baby_id'].isin(babyies_sampled)]
df_sampled.shape

(584874, 25)

In [20]:
target_cols = [
    '_id', 'baby_id', 'date', 'type',
    'data_1', 'data_2', 'data_3', 'data_4', 'data_5', 'data_6', 'data_7', 'data_8',
    'memo', 'is_test', 'is_delete', 
    'weight', 'gender', 'birthday', 'convulsion', 
    'group_id', 'lat', 'lng', 'last_update_de']
df_sampled = df_sampled[target_cols]
df_sampled.shape

(584874, 23)

In [21]:
df_sampled.to_csv("../v2/data/md_data__1percent_sampled_seed_1212.csv", index=False)